.productsView {
    position: relative;
    max-width: 95%;
    margin-inline: auto;
    margin-block: 3rem 1rem;
}

.slider {
    display: none;
}

.deal {
    padding-right: 2.5rem;
    padding-bottom: 1.25rem;
}

.deal *+* {
    margin-top: 0.5rem;
}

.deal h3 {
    color: var(--clr-neutral-900);
    font-weight: 600;
}

.deal h4 {
    color: rgb(153, 153, 153);
}

@media(min-width: 60rem) {
    .productsView {
        display: flex;
        margin-bottom: 1rem;
        padding-inline: 0;
        max-width: 100%;
    }

    .deal {
        min-width: 15rem;
    }

    .deal h3 {
        font-size: 1.5rem;
    }

    .slider {
        display: block;
        min-width: 720px;
    }
}