.product {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.product *+* {
    margin-top: 0.5rem;
}

.productImage {
    position: relative;
    height: 174px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

.productImgTag {
    display: flex;
    position: absolute;
    z-index: 10;
    font-size: 12px;
    background-color: var(--clr-primary-900);
    color: var(--clr-neutral-100);
    padding: 4px;
    border-radius: 2px;
    left: 4px;
    bottom: 4px;
}

@media(max-width: 380px) {
    .productImgTag {
        bottom: 24px;
    }
}

.productTitle,
.productPrice {
    font-size: 12px;
    font-weight: 400;
    color: var(--clr-neutral-900);
}

.productTitle {
    min-height: 2.25rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

@media(min-width:60rem) {

    .productTitle,
    .productPrice {
        font-size: 15px;
    }

    .productTitle {
        min-height: 2.625rem;
    }
}


.productPrice {
    position: relative;
    font-weight: 600;
}

.productPrice::after {
    content: '원';
    font-size: 12px;
    font-weight: 400;
}


.productTag {
    display: inline-block;
    display: flex;
    background-color: rgb(247, 247, 247);
    color: var(--clr-neutral-600);
    padding: 3px 4px;
    border-radius: 2px;
    font-size: 10px;
}

.productPreface {
    font-size: 12px;
    padding: 4px 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 2px;
}

.productDiscount {
    color: var(--highlight-color);
}

.productRating {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 12px;
    color: var(--clr-neutral-900);
}