.categories {
    width: 100%;
    display: grid;
    row-gap: 0.75rem;
}

@media (max-width: 60rem) {
    .categories {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (min-width: 60rem) {
    .categories {
        grid-auto-flow: column;
        padding: 1rem 1.25rem;
        row-gap: 1.5rem;
        column-gap: 0.75rem;
    }
}

.title {
    color: #414141;
    font-weight: 300;
    font-size: 13px;
}