.categories {
    display: grid;
    padding-inline: 1.25rem;
    grid-row-gap: 24px;
    grid-column-gap: 12px;
    padding: 1rem 1.25rem;
}

@media (max-width: 60rem) {
    .categories {
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media (min-width: 60rem) {
    .categories {
        grid-auto-flow: column;
    }
}

.title {
    color: #414141;
    font-weight: 300;
    font-size: 13px;
}