.floatingBtn {
    position: relative;
}

.floatingBtnIcon {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
}

.floatingBadge {
    position: fixed;
    bottom: 3.75rem;
    right: 2.5rem;
    display: inline-block;
    width: 0.875rem;
    height: 0.875rem;
    background-color: rgb(233, 78, 88);
    border-radius: 30rem;
    background-clip: padding-box;
    border: 2px solid rgba(255, 255, 255, 0.9);
    transform: translate(50%, -50%);
    z-index: 10;
}